* {
  margin: 0;
  padding: 0;

}

body {
  background-image: url(/public/noticianormal.jpg);
 background-repeat: none;
 background-size: none;
 background-position: none;
 background-attachment: none;
 
 
 
}

.col {
  color: rgb(216, 203, 203);
}
